* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.body{
  font-family: "Roboto", sans-serif;
  font-family: "Yantramanav", sans-serif;
  font-family: "Noto Sans KR", sans-serif;
}

.topnav-container {
  background-color: #ee4d2d;
  height: 34px;
  text-align: center;
  padding-top: 10px;
}

a{
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
}

.topnav-left {
  float: left;
  align-items: center;
  padding-left: 50px;
}

.topnav-right {
  float: right;
  padding-right: 50px;
}

.bottomnav-container{
  background-image: linear-gradient(180deg, #ee4d2d, #ff7337);
  display: flex;
}

img {
  height: 70px;
  width: 120px;
  margin-left: 60px;
}

.search-container{
  padding-left: 50px;
  padding-top: 10px;
}

.searchbox{
  width: 900px;
  height: 30px;
  position: relative;
  display: flex;
  padding-left: 400px;
}

.searchBtn{
  width: 40px;
  height: 36px;
  border: 1px solid #ee4d2d;
  float: right;
}

.svg{
  height: 17px;
  width: 17px;
}

.trend{
  text-decoration: none;
  list-style: none;
  float: inline-end;
  /* display: flex; */
  padding-top: 0px;
  background-color: #ff7337;
  height: 30px;
}

.trend-search a{
  /* flex-basis: content; */
  text-justify: auto;
  /* flex-direction: column; */
}